<app-home></app-home>
 
<div class='app'>
  <br><br>

<div class='app-top'>
  <span style="margin-left: 35em"></span><button (click)='toggleVisible()'>toggle visible</button>
<button (click)='toggleWeekends()'>toggle weekends</button>
</div>
<!-- <button (click)="updateEvents()" id="updateEvents">Update events</button>
<button (click)="updateHeader()" id="updateHeader">Update header</button> -->
<!-- <div class='app-calendar' *ngIf="calendarVisible"> -->
<!-- <full-calendar
  #calendar
  [selectable]=true
  [editable]="true"
  [droppable]= "true"
  defaultView="dayGridMonth"
  [header]="{
    left: 'prev,next today',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
  }"
  [plugins]="calendarPlugins"
  [weekends]="calendarWeekends"
  [events]="calendarEvents"
  (dateClick)="handleDateClick($event)"
></full-calendar> -->
<div class='app-calendar' *ngIf="calendarVisible">
<full-calendar
  *ngIf="options"
  #calendar
  [editable]="true"
  [events]="calendarEvents"
  [header]="options.header"
  [customButtons]="options.customButtons"
  [weekends]="calendarWeekends"
  (eventDragStop)="eventDragStop($event)"
  [plugins]="options.plugins"
  (dayRender)="dayRender($event,el)"
  (eventClick)="eventClick($event)"
  (dateClick)="handleDateClick($event)"
  [columnHeaderHtml]="options.columnHeaderHtml"
></full-calendar>



</div>
</div>

  
 
